@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
	background-color: black;
	display: flex;
	align-items: center;
    justify-content: center;
}

div.contenido {
	background-image: url('https://images.pexels.com/photos/1175136/pexels-photo-1175136.jpeg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 97vh;
	max-width: 145.5vh;
	margin: auto;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
}

div.texto {
	display: inline-block;
	margin-right: 15px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 3vw;
	color: white;
	text-align: right;
	line-height: 50%;
}

img.foto {
	display: inline-block;
	margin-right: 80px;
	width: 15%;
	border: 5px solid white;
	border-radius: 100%;
}